#Node Dependencies
node_modules

#server specific stuffs
uploads

*.pyc

#tests
test

#server uploads and processing shit stuffs bleh
uploads/*
results/*

/node_modules
npm-debug.log
.DS_Store
/*.env
